[package]
name = "nobreak-core"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
chrono.workspace = true
libloading.workspace = true
serde.workspace = true
serde_json.workspace = true
serialport.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
udev.workspace = true
